@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 800px;
}
#info {
  padding: 1rem 1rem;
  /* width: 50%;
  height: 50px; */
}
#map {
  padding: 1rem 4rem;
  width: 80%;
  height: 800px;
}
.bw {
  filter: grayscale(20%);
}
